<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613270044200-1fg0e682b5j4g7b5befo5opcq4pbu31g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613270044200-1fg0e682b5j4g7b5befo5opcq4pbu31g</string>
	<key>API_KEY</key>
	<string>AIzaSyAnHv07IdCT9b7qxj7cJCr0tXFBiwLW1tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>613270044200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agendamentos</string>
	<key>PROJECT_ID</key>
	<string>ags-project-f3f39</string>
	<key>STORAGE_BUCKET</key>
	<string>ags-project-f3f39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613270044200:ios:6c55a707f315152a1fff1d</string>
</dict>
</plist>